build-Landlords-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/
111/
斗地主-GitHub/
release/
debug/
Makefile*
*make*
object*
ui*
*.rc
.vscode
qt-landlords-master/
DouDiZhuGitHub/
qtkaifajingyan-master/
landlords/Landlords.pro.user